<header class="navbar navbar-fixed-top navbar-inverse">
  <div class="navbar-inner">
    <div class="container">
      <%= link_to "Blog_lab", root_path, id: "logo" %>
      <nav>
        <ul class="nav pull-right">
          <li><%= link_to "POST", root_path %></li>
		  <% if signed_in? %>
          <li><%= link_to "PROFILE", "#edit" %></li>
		  <li><%= link_to "LOGOUT", signout_path %></li>
		  <% else %>
		  <li><%= link_to "LOGIN", signin_path %></li>
		  <% end %>
        </ul>
		
      </nav>
    </div>
  </div>
  
 
</header>